﻿/* Snack bar */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    max-width: 300px; /* Set a default minimum width */
    margin-left: -150px; /* - Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: absolute; /* Sit on top of the screen */
    z-index: 1050; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    top: 30px; /* 30px from the top */
}

    /* Show the snackbar when clicking on a button (class added with JavaScript) */
    #snackbar.show {
        visibility: visible; /* Show the snackbar */
        /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
   However, delay the fade out process for 2.5 seconds */
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }



#wrapper {
    min-height: 100vh;
}

.modal-backdrop.in {
    opacity: 1.0;
}

/*.mb-15 > div.col-md-4.col-md-offset-4.text-center {
    margin-bottom: 35px;
}*/

.rsp-account-number {
    margin-left: 0% !important;
    margin-bottom: 0% !important;
    padding-left: 0px !important;
}

.rsp-account-selection-width {
    width:60% !important;
}

.portfolio-section * {
    text-transform: capitalize !important;
}

.modal-content.trans {
    width: 55%;
    margin: 0 auto;
}

div#orderStatusTable_wrapper {
    width: 98%;
}

.legend-position {
    background-color: white;
    border-color: black;
    border-width: thick;
    padding: 10px;
}

.legend-title-wording {
    font-weight: 600;
    margin-bottom: 10px;
}
.transactiondetails-first-row {
    font-size: 12px;
    /*margin-bottom: 10px;*/
}

#TransactionHistory_wrapper.dataTables_wrapper.form-inline.dt-bootstrap.no-footer {
    width: 98%;
}


.transactiondetails-second-row {
    font-size: 12px;
    margin-bottom: 10px;
}

.transactiondetails-first-row span {
    padding: 5px 10px;
    background: #f9f9f9;
    border-radius: 5px;
    margin: 5px 2px;
    width: 140px;
    display: inline-block;
}

.transactiondetails-second-row span {
    padding: 5px 10px;
    background: #f9f9f9;
    border-radius: 5px;
    margin: 0 2px;
    width: 140px;
    display: inline-block;
}

#commonTermsPopupModalBodyInner p, #commonTermsPopupModalBodyInner li {
    text-align: justify;
}

#faq p, #faq li {
    text-align: justify;
}

.section-border {
    border-radius: 16px;
    border: 3px solid #92c4e5 !important;
    border-width: medium;
    padding: 15px 30px;
}
.removeFund, .removeFund:hover {
    /*background: transparent;*/
    color: red;
    /*font-size: 10px !important;
    font-family: 'Montserrat';
    font-weight: 600;*/
    /*border: none;*/
}


h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

label {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.divDividendDistribution {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

    .divDividendDistribution label {
        font-weight: 600;
    }

    .divDividendDistribution .note {
        border-top: 1px solid #eee;
        padding: 10px;
        margin-top: 15px;
    }

        .divDividendDistribution .note p {
            margin-bottom: 5px;
        }

@media (min-width: 1280px) {
    .container {
        width: 1200px;
    }
}

.navbar {
    border-radius: unset;
}
/* ANIMATIONS */
/* Simple CSS3 Fade-in-down Animation */

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


@-webkit-keyframes typing {
    0% {
        background-color: rgba(5,156,206, 1);
        box-shadow: 12px 0px 0px 0px rgba(5,156,206,0.2), 24px 0px 0px 0px rgba(5,156,206,0.2);
    }

    25% {
        background-color: rgba(5,156,206, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(5,156,206,2), 24px 0px 0px 0px rgba(5,156,206,0.2);
    }

    75% {
        background-color: rgba(5,156,206, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(5,156,206,0.2), 24px 0px 0px 0px rgba(5,156,206,1);
    }
}

@-moz-keyframes typing {
    0% {
        background-color: rgba(5,156,206, 1);
        box-shadow: 12px 0px 0px 0px rgba(5,156,206,0.2), 24px 0px 0px 0px rgba(5,156,206,0.2);
    }

    25% {
        background-color: rgba(5,156,206, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(5,156,206,2), 24px 0px 0px 0px rgba(5,156,206,0.2);
    }

    75% {
        background-color: rgba(5,156,206, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(5,156,206,0.2), 24px 0px 0px 0px rgba(5,156,206,1);
    }
}

@keyframes typing {
    0% {
        background-color: rgba(5,156,206, 1);
        box-shadow: 12px 0px 0px 0px rgba(5,156,206,0.2), 24px 0px 0px 0px rgba(5,156,206,0.2);
    }

    25% {
        background-color: rgba(5,156,206, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(5,156,206,2), 24px 0px 0px 0px rgba(5,156,206,0.2);
    }

    75% {
        background-color: rgba(5,156,206, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(5,156,206,0.2), 24px 0px 0px 0px rgba(5,156,206,1);
    }
}


@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}




.fadeIn {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

    .fadeIn.first {
        -webkit-animation-delay: 0.4s;
        -moz-animation-delay: 0.4s;
        animation-delay: 0.4s;
    }

    .fadeIn.second {
        -webkit-animation-delay: 0.6s;
        -moz-animation-delay: 0.6s;
        animation-delay: 0.6s;
    }

    .fadeIn.third {
        -webkit-animation-delay: 0.8s;
        -moz-animation-delay: 0.8s;
        animation-delay: 0.8s;
    }

    .fadeIn.fourth {
        -webkit-animation-delay: 1s;
        -moz-animation-delay: 1s;
        animation-delay: 1s;
    }







.nav.navbar-nav > li.active > a {
    color: #059cce;
}



/* Spinner */
/* Try changing me! */
.spinner {
    display: inline-block;
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background: #333333;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

    .spinner::before, .spinner::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
    }

    .spinner::before {
        width: 120px;
        height: 120px;
        border-radius: 60px;
        margin-left: -60px;
        margin-top: -60px;
        background: #eee;
    }

    .spinner::after {
        width: 0;
        height: 0;
        box-shadow: 45px 0px 1px 5px rgba(130, 130, 130, 0.94444), 41.96125px 16.25587px 1px 5px rgba(130, 130, 130, 0.88889), 33.2554px 30.3163px 1px 5px rgba(130, 130, 130, 0.83333), 20.05823px 40.28235px 1px 5px rgba(130, 130, 130, 0.77778), 4.15208px 44.80804px 1px 5px rgba(130, 130, 130, 0.72222), -12.31483px 43.28215px 1px 5px rgba(130, 130, 130, 0.66667), -27.11856px 35.91078px 1px 5px rgba(130, 130, 130, 0.61111), -38.25977px 23.68945px 1px 5px rgba(130, 130, 130, 0.55556), -44.23379px 8.26873px 1px 5px rgba(130, 130, 130, 0.5), -44.23379px -8.26873px 1px 5px rgba(130, 130, 130, 0.44444), -38.25977px -23.68945px 1px 5px rgba(130, 130, 130, 0.38889), -27.11856px -35.91078px 1px 5px rgba(130, 130, 130, 0.33333), -12.31483px -43.28215px 1px 5px rgba(130, 130, 130, 0.27778), 4.15208px -44.80804px 1px 5px rgba(130, 130, 130, 0.22222), 20.05823px -40.28235px 1px 5px rgba(130, 130, 130, 0.16667), 33.2554px -30.3163px 1px 5px rgba(130, 130, 130, 0.11111), 41.96125px -16.25587px 1px 5px rgba(130, 130, 130, 0.05556);
        border-radius: 50%;
    }

    .spinner::after {
        animation-name: rotate;
        animation-duration: 3s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -75px;
    margin-top: -75px;
    z-index: 9999;
}

.spinner-bg {
    position: fixed;
    background: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

/* SPinner ends */



/* Footer styles*/

.footer-bg {
    background: rgba(0,0,0,0.8) url(/Content/MyImage/10.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.footer-logo {
    text-align: center;
    position: relative;
    height: 80px;
}

/* footer styles ends*/



/* Login/register styles starts from here */

#liLogout2 {
    display: none;
}

.login-section {
    background: rgba(0,0,0,0.7);
    display: block;
    position: absolute;
    top: 150px;
    z-index: 9999;
    margin-right: 15px;
}

.login-bottom {
    background: rgba(255,255,255,0.1);
    padding: 5px 0px 5px 20px;
    text-align: left;
    color: #fff;
    margin: 5px 10px 10px 10px;
}

.login-apply {
    background: rgba(18,18,18,0.8);
    text-align: center;
    padding: 0px 10px 10px 10px;
}


.login-head {
    background: black;
    color: #fff;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 5px;
    border-bottom: 2px solid #245a84;
}

    .login-head h4 {
        margin-bottom: 5px !important;
        font-size: 16px !important;
    }


.login-content {
    text-align: center;
    padding: 12px 20px 0px 20px;
}

    .login-content .input-group {
        margin-bottom: 15px !important;
    }

.form-control {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-border-top-right-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -webkit-border-top-left-radius: 2px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomright: 2px;
    -moz-border-radius-bottomleft: 2px;
    -moz-border-radius-topleft: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: rgba(251, 249, 249, 0.8);
    border-color: #cccccc;
    border-top: none;
    border-left: none;
    border-right: none;
}

.login-content input-group-addon {
    background: rgba(251, 249, 249, 0.8);
    border-color: #cccccc !important;
    color: black !important;
    border-top: none;
    border-left: none;
    border-right: none;
}

.register-content input-group-addon {
    background: rgba(251, 249, 249, 0.8);
    border-color: #cccccc !important;
    color: black !important;
    border-top: none;
    border-left: none;
    border-right: none;
}

.welcome-section {
    background: rgba(0,0,0,0.7);
    display: block;
    position: absolute;
    top: 150px;
    z-index: 9999;
    margin-right: 15px;
    color: #FFF;
    padding: 20px;
    text-align: center;
    width: 400px;
}
.welcome-note {
    font-size: 32px;
}
.welcome-note-2 {
    font-size: 18px;
    margin-bottom: 10px;
}
.welcome-note-3 {
    font-size: 18px;
    width: 300px;
    margin: 0 auto;
}

.input-group-addon {
    background: rgba(251, 249, 249, 0.8) !important;
    border-color: #cccccc !important;
    color: black !important;
    border-top: none;
    border-left: none;
    border-right: none;
}

.login-btn {
    background: #059cce;
    border-radius: 2px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    padding: 5px 12px 5px 12px !important;
}

.login-content ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: black;
}

.register-content ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: black;
}

::-moz-placeholder { /* Firefox 19+ */
    color: black;
}

:-ms-input-placeholder { /* IE 10+ */
    color: black;
}

:-moz-placeholder { /* Firefox 18- */
    color: black;
}

.login-fp {
    text-align: center;
}

.login-content p {
    margin-bottom: 10px !important;
    line-height: 12px !important;
    margin-top: 10px;
}

.register-content p {
    margin-bottom: 10px !important;
    line-height: 15px !important;
    margin-top: 10px;
}


.register-content {
    text-align: center;
    padding: 20px 20px 20px 20px;
}

.register-head {
    background: #059cce;
    color: #fff;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 5px;
}

    .register-head h4 {
        margin-bottom: 5px !important;
        font-size: 16px !important;
    }


.register-content .input-group {
    margin-bottom: 15px !important;
}

.Register-section {
    background: rgba(255,255,255,0.82);
    display: block;
    margin-top: 20px;
}

.Register-section-email {
    background: rgba(255,255,255,0.82);
    display: block;
    margin-top: 50px;
}

.Register-section-mobile {
    background: rgba(255,255,255,0.82);
    display: block;
    margin-top: 50px;
}

.reset-text {
    background: rgba(5,156,206,0.85);
    color: #fff;
    text-align: center;
    padding: 15px 5px 1px 5px;
    margin-top: 70px;
    margin-bottom: 0px;
}



.mobile-login-section {
    background-color: #002e44;
    top: 56px;
    position: relative;
    padding-bottom: 50px;
    height: 100vh;
}

    .mobile-login-section .form-control {
        height: 44px;
    }

.login-btn-mobile {
    background: #059cce;
    border-radius: 2px;
    text-align: center;
    font-size: 26px;
    font-weight: 400;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 12px 10px 12px !important;
    margin-top: 15px;
}


.mobile-login-section .input-group {
    margin-bottom: 0px;
}

.mobile-login-section .input-group-addon {
    padding: 14px 12px;
    border-radius: 0px;
}

.mobile-login-section ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: black;
}

.login-mobile-head {
    /*background: black;*/
    color: #fff;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
}

    .login-mobile-head h4 {
        margin-bottom: 5px !important;
        font-size: 20px !important;
        font-family: 'Montserrat', sans-serif;
    }

.login-apply {
    background: none;
}

.mobile-login-content {
    padding-top: 26px;
}

.btn-infos1 {
    color: #ffffff;
    background-color: rgba(5, 156, 206, 1);
    border-color: rgba(5, 156, 206, 1);
    border-radius: 2px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    padding: 3px 20px 4px 20px;
}
.btn.btn-infos1 {
    color: #ffffff;
    background-color: rgba(5, 156, 206, 1);
    border-color: rgba(5, 156, 206, 1);
    border-radius: 2px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    padding: 3px 20px 4px 20px;
}

.mobile-footer {
    position: relative;
    width: 100%;
    left: 0px;
    bottom: 55px;
    background: #002e44;
    padding: 10px;
}

    .mobile-footer .col-md-6,
    .mobile-footer .col-md-5,
    .mobile-footer .col-md-4,
    .mobile-footer .col-md-3,
    .mobile-footer .col-md-2 {
        display: inline-block;
    }


.apex {
    text-align: center;
    color: #fff;
    font-size: 12px;
}

/* Funds section classes */

.my-btn {
    background-color: #06abe2;
    color: #fff;
    padding: 1px 10px !important;
    margin-top: -3px;
    border-radius: 3px;
}

.dt-buttons .my-btn {
    background-color: #b0bec5;
    color: #fff;
    padding: 1px 10px !important;
    margin-top: -3px;
    border-radius: 3px;
}

.fund-search .dt-button.btn.my-btn {
    background-color: #06abe2;
    color: #fff;
    padding: 1px 10px !important;
    margin-top: -3px;
    border-radius: 4px;
    border-color: #fff;
}

.my-btn1 {
    background-color: rgb(176, 143, 29);
    padding: 2px 10px !important;
    color: #fff;
    margin-top: -3px;
    border-radius: 2px;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #f1f1f1;
}

.table-striped > tbody > tr:nth-of-type(even) {
    background-color: #ffffff;
}


.ft-btn {
    font-size: 14px !important;
    font-weight: 600 !important;
    text-align: center !important;
    padding: 3px 20px 4px 20px !important;
    background-color: rgb(176, 143, 29) !important;
    border-color: rgb(176, 143, 29) !important;
    border-radius: 2px !important;
    color: unset;
}
.btn.ft-btn {
    font-size: 14px !important;
    font-weight: 600 !important;
    text-align: center !important;
    padding: 3px 20px 4px 20px !important;
    background-color: rgb(176, 143, 29) !important;
    border-color: rgb(176, 143, 29) !important;
    border-radius: 2px !important;
    color: unset;
}

.navbar a:active {
    color: #2b8be9;
}

.btn-infos {
    color: #ffffff;
    background-color: rgba(5, 156, 206, 0.2784313725490196);
    border-color: rgba(5, 156, 206, 0);
    border-radius: 2px;
}

table.dataTable thead .sorting:after {
    display: none !important;
}

table.dataTable thead .sorting_asc:after {
    display: none !important;
}


.table > thead > tr > th {
    padding: 8px 8px 8px 8px !important;
}

.table > tbody > tr > td {
    padding: 7px 7px 5px 7px !important;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border-left: none !important;
    border-right: none !important;
    border-bottom: 1px solid #dddddd !important;
    /*border-bottom-width: 0 !important;*/
}

table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child:before {
    display: none !important;
}

#TransactionHistory_wrapper .row .col-sm-5 {
    margin-bottom: 40px;
}

#TransactionHistory_wrapper .row .col-sm-7 {
    margin-bottom: 40px;
}

.fund-success {
    color: #01ca01;
    font-weight: 600;
    font-size: 13px;
}

.fund-warning {
    color: #ffbe00;
    font-weight: 600;
    font-size: 13px;
}

.fund-danger {
    color: red;
    font-weight: 600;
    font-size: 13px;
}

.fundName {
    font-weight: 700;
    color: #2071bf;
    font-size: 14px;
}

.label-primary {
    background-color: #059cce;
    color: #fff;
}

.fund-danger-text {
    color: red;
    font-weight: 600;
    font-size: 13px;
}

.fund-warning-text {
    color: #ffbe00;
    font-weight: 600;
    font-size: 13px;
}

.fund-success-text {
    color: #01ca01;
    font-weight: 600;
    font-size: 13px;
}

.fundType:not(:empty) {
    background-color: #a7a7a7;
    padding: 0px 4px 0px 4px;
    color: #fff;
    font-weight: 700;
    border-radius: 2px;
    margin-left: 5px;
    font-size: 10px;
}

.fund-search {
    background-color: rgba(167, 167, 167, 0.3);
    padding: 10px;
    margin-top: 10px;
}

    .fund-search .form-control {
        background: rgb(255, 255, 255);
        border-radius: 4px;
    }

    .fund-search .btn {
        background: rgb(255, 255, 255);
        border-radius: 4px;
        border-color: #cccccc;
    }

    .fund-search .form-control:focus {
        border-color: rgba(146, 146, 146, 0.5607843137254902);
        box-shadow: inset 0 1px 1px rgba(119, 119, 119, 0.3), 0 2px 8px rgba(144, 144, 144, 0.3);
    }

    .fund-search .btn:focus {
        border-color: rgba(146, 146, 146, 0.5607843137254902);
        box-shadow: inset 0 1px 1px rgba(119, 119, 119, 0.3), 0 2px 8px rgba(144, 144, 144, 0.3);
    }

#fundSearchList {
    list-style: none;
    padding-left: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}


/* fund listing styles end*/



/* Breadcrumb*/
.breadcrumb {
    font-size: 14px;
    font-weight: 600;
    font-family: 'lato' sans-serif;
    color: #989b9e;
    padding: 8px 0px;
}
/* breadcrumb styles end*/

.grey-200 {
    background-color: #b0bec5 !important;
}

.grey-300 {
    background-color: #90a4ae !important;
}

/* tabs */

.my-tabs .nav-tabs > li > a {
    font-size: 12px;
    outline: none;
    font-weight: 800;
    letter-spacing: 0.6px;
    padding: 10px;
    color: #fff;
}

.my-tabs .nav > li > a {
    background: #059cce;
    
}

    .my-tabs .nav > li > a.text-danger {
        background: #dadada;
    }

.my-tabs .nav-tabs {
    border-bottom: none;
}

    .my-tabs .nav-tabs > li.active > a,
    .my-tabs .nav-tabs > li.active > a:hover,
    .my-tabs .nav-tabs > li.active > a:focus {
        
        color: #059cce;
        /*color: white;*/
        background-color: #fff;
        border-bottom-color: #dddddd;
    }

    .my-tabs .nav-tabs > li > a {
        border-radius: 4px 4px 4px 4px;
    }

.tabs-horizontal .tab-content {
    padding-top: 5px;
}

.my-table {
    font-size: 14px;
}

table > tbody > tr > th,
table > tbody > tr > td {
    padding: 7px 15px 7px 15px !important;
}

.ff-ss {
    font-family: 'lato' sans-serif;
}

.table-head {
    /*background-color: #b0bec5;*/
    color: #fff;
    padding: 7px 10px 7px 10px;
}

.my-tabs .panel-group.accordion > .panel > .panel-heading > a {
    font-size: 12px;
    line-height: 38px;
}

    .my-tabs .panel-group.accordion > .panel > .panel-heading > a:before {
        width: 40px;
    }

/* tabs styles ends*/


/* Banner text*/

.banner-head {
    text-align: right;
    color: #059cce;
}

    .banner-head h3 {
        font-size: 40px !important;
        margin-bottom: 0px;
    }

.banner-content {
    text-align: right;
    color: #d5d5d5;
}

    .banner-content p {
        margin-bottom: 10px;
        text-align: right;
        font-size: 25px;
        line-height: 35px;
    }


.carousel-caption {
    position: absolute;
    top: 150px !important;
    text-shadow: none !important;
}

    .carousel-caption.even {
        background: transparent !important;
        border: none;
    }
/* Security check  Styles */
.safety {
    background: #fff;
    display: block;
    position: relative;
    top: 40px;
    padding: 10px 20px 10px 20px;
}

    .safety h3 {
        color: #059cce;
        font-family: 'lato' sans-serif;
        margin-bottom: 10px !important;
    }

    .safety hr {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        border-top: 1px solid #059cce !important;
    }

    .safety p {
        display: initial !important;
    }

button[disabled] {
    background-color: grey;
    text-decoration: none;
}


.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

    .material-switch > label::before {
        background: rgb(0, 0, 0);
        box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        content: '';
        height: 16px;
        margin-top: -8px;
        position: absolute;
        opacity: 0.3;
        transition: all 0.4s ease-in-out;
        width: 40px;
    }

    .material-switch > label::after {
        background: rgb(255, 255, 255);
        border-radius: 16px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        content: '';
        height: 24px;
        left: -4px;
        margin-top: -8px;
        position: absolute;
        top: -4px;
        transition: all 0.3s ease-in-out;
        width: 24px;
    }

.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}

.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

.error {
    color: #f53636 !important;
    font-size: 12px !important;
    font-weight: 800;
    margin-bottom: 5px;
}

/* Security check  Styles ends */



/* Announcements styles*/

.announcement {
    display: block;
    position: absolute;
    background: rgba(160, 98, 9, 0.72);
    color: #fff;
    width: 100%;
    top: 80px;
    z-index: 9;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

    .announcement a {
        color: #fff;
    }

/* announcements styles end here*/


/* security setup styles start here */

.verify {
    background: #efefef;
    display: block;
    position: relative;
    top: 60px;
    padding: 10px 20px 20px 20px;
    border-radius: 5px;
    text-align: center;
    height: 310px;
}

    .verify a > span {
        font-size: 18px;
        font-weight: 600;
        color: #51565a;
    }


.options {
    border-radius: 5px;
    background: #fff;
    padding: 5px 5px 5px 23px;
}

.skip-a {
    float: right;
    margin-top: 15px;
}

.g-btn {
    font-size: 15px !important;
    padding: 4px 12px 4px 12px !important;
}

.google {
    position: relative;
    background: #efefef;
    display: block;
    position: relative;
    top: 60px;
    padding: 10px 20px 30px 20px;
    border-radius: 5px;
    text-align: center;
}

    .google h4 {
        color: #868a8c;
        font-size: 21px;
        font-weight: 700;
    }

    .google label {
        margin-bottom: 10px;
    }

.google-hr {
    width: 250px;
    margin-top: 0px !important;
    margin-bottom: 5px;
}


.verify-title:after {
    display: inline-block;
    content: " ";
    width: 100%;
    height: 1px;
    background: #ddbf56;
    position: absolute;
    left: 0;
    top: 50%;
}

.verify-title {
    font-size: 16px;
    color: #333;
    margin-bottom: 30px;
    position: relative;
}

    .verify-title span {
        padding: 0 30px;
        background: #efefef;
        position: relative;
        z-index: 99;
    }

/* security setup styles start here */




/*.table span[class*=text-] {
    font-weight: 700 !important;
}*/


.text-success {
    color: #0cbd0f !important;
}

.text-danger {
    color: #ec100b !important;
}

.text-warning {
    color: #e0d116 !important;
}


.panel-group.accordion .panel-heading + .panel-collapse .panel-body {
    padding: 10px 10px 10px 50px !important;
}




/* mobile menu styles starts here */

#liLogout2 {
    background: rgba(255,255,255,0.1);
    margin-bottom: 10px;
    font-size: 12px;
    text-transform: none !important;
    text-align: center;
}

    #liLogout2 > a {
        padding: 10px 10px 10px 10px !important;
        text-transform: none !important;
        font-weight: 600;
        color: #bfa100;
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;
    }

#mobile-contact-down {
    position: absolute;
    background: rgba(5,156,206,0.14);
    width: 100%;
    bottom: 33px;
    left: 0px;
}

li#liMobilelogin {
    text-align: center;
    padding: 8px 5px 20px 5px;
    font-size: 15px;
    font-weight: 600;
    background: rgba(5, 156, 206, 0.2);
    margin-bottom: 10px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}


a#lnkLogout2 {
    background: rgba(5, 156, 206, 0.1);
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    color: #b7b7b7;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0px;
}


#liLogout.dropdown > a {
    color: #e4b40a;
    font-size: 16px;
    text-transform: capitalize;
}

#liLogout.dropdown .dropdown-menu {
    top: 84px !important;
    right: 30px;
}

#liLogout .dropdown-menu > li a:hover,
#liLogout .dropdown-menu > li a:focus,
#liLogout .dropdown-menu > li a:active {
    background-color: #ececec;
    color: #000;
}


#liLogout.dropdown i.fa {
    margin-right: 5px;
    font-size: 16px;
}

.nav > li > a {
    line-height: 16px !important;
}

/* mobile menu styles starts here */



/* Profile styles */

.profile {
    position: relative;
    display: block;
}

.p-head {
    margin-bottom: 0px;
    background: #dddddd;
    color: #000;
    padding: 3px 10px 3px 10px;
}

    .p-head h4 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

.profile-btn {
    font-size: 14px;
    border-radius: 5px;
    font-weight: 600;
    margin-top: 8px;
}

.profile-body {
    padding: 10px 10px 10px 10px;
}

.profile h5 {
    display: inline-block;
}

.btn-p {
    background-color: #059cce !important;
    color: #fff;
}

.g-hr {
    margin-top: 25px !important;
    margin-bottom: 15px !important;
    border-top-color: #888888;
}

/* profile styles end here */




.list-inline > li {
    display: inline-block;
    padding-left: 3px !important;
    padding-right: 3px !important;
}


.form-inline > div.row {
    margin-right: -15px !important;
}

table td {
    vertical-align: middle !important;
}


.body-google {
    padding: 15px 10px 10px 10px;
    min-height: 240px;
}

    .body-google label {
        font-weight: 600;
        margin-bottom: 10px;
    }

    .body-google button {
        font-weight: 600;
    }

.btn-verify {
    background: #059cce;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

.body-google a {
    color: #868686;
    font-size: 14px;
}

    .body-google a:hover {
        color: #059cce;
        font-size: 14px;
    }

.body-google .btn-warning {
    background: #c7a600;
    border: #c7a600;
    border-radius: 0px;
    font-size: 13px;
    font-weight: 600;
    position: absolute;
    right: 25px;
    padding: 8px 20px;
}

#countdownLabelText {
    color: #868686;
    font-size: 14px;
}

#countdown {
    color: #868686;
    font-size: 14px;
}

.form-control:focus {
    border-color: #f5eeee;
}

a, a:hover, a:active, a:focus {
    text-decoration: none;
}

.google-authentication {
    background: #fff;
    padding: 10px;
    text-align: center;
}

    .google-authentication hr {
        margin-top: 5px;
        margin-bottom: 0px;
        border-top-color: #aaa;
    }

.phone-verification hr {
    margin-top: 5px;
    margin-bottom: 0px;
    border-top-color: #aaa;
}

.google-modal .footer {
    background: #eee;
    padding: 15px 10px 15px 10px;
}

    .google-modal .footer a {
        font-size: 14px;
        color: #999;
        font-weight: 600;
    }

.phone-verification {
    background: #fff;
    padding: 10px;
    text-align: center;
}

.google-modal {
    background: #9c9c9c;
}
/* chart section styles( table styles)*/
.chart-table.table > thead > tr > th {
    background-color: #4c4c4c;
}

.chart-table.table > thead > tr > th {
    padding: 3px 4px 4px 8px !important;
}

.chart-table.table > tbody > tr > td {
    padding: 5px 7px 4px 7px !important;
}

#linechart {
    width: 100% !important;
    height: auto !important;
}

.btn-block + .btn-block {
    margin-left: 0;
}

.highcharts-crosshair {
    stroke-width: 1;
}

.highchart-line-class {
    stroke-width: 5;
    stroke-opacity: 0.7;
}

    .highchart-line-class.highcharts-series-hover {
        stroke-opacity: 1;
    }

.highcharts-tooltip-box {
    fill-opacity: 1;
    fill: rgba(255,255,255,1);
}

.highcharts-tooltip text {
    fill-opacity: 1;
    font-weight: 600;
    font-family: 'Lato', sans-serif !important;
    letter-spacing: 0.5px;
}

.highcharts-background {
    fill: none;
}

select[multiple], select[size] {
    height: 140px;
}

.highcharts-axis-labels text {
    font-size: 11px !important;
}

.highcharts-title {
    text-align: center;
}

/* chart section styles( table styles)*/



/* charts styles */

.section-fund-comaparison .selectable .ui-selecting {
    background: #059cce;
    color: #fff;
}

.section-fund-comaparison .selectable .ui-selected {
    background: #059cce;
    color: #fff;
    border: none !important;
}

.section-fund-comaparison .selectable {
    padding-left: 0;
}

    .section-fund-comaparison .selectable li {
        text-align: center;
        font-size: 12px;
        font-weight: 600;
        padding: 10px;
        letter-spacing: 0.5px;
        list-style: none;
        margin-bottom: 10px;
        width: 100%;
    }

.chart-tabs.nav-tabs > li > a {
    font-size: 10px;
    font-weight: 900;
    border-radius: 2px;
    margin-right: 3px;
    padding: 3px 10px;
    background: #fff;
    color: #059cce;
    border-color: rgba(5, 156, 206, 0.5);
}

.chart-tabs.nav-tabs > li.active > a,
.chart-tabs.nav-tabs > li.active > a:hover,
.chart-tabs.nav-tabs > li.active > a:focus {
    border: 1px solid #000;
    color: #000;
    background-color: transparent;
}

.nav-tabs {
    border-bottom: none;
}


.loadingChartDiv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.7);
    z-index: 9;
}

    .loadingChartDiv i {
        left: calc(50% - 1.25em);
        top: 100px;
        position: absolute;
        font-size: 20px;
        text-align: center;
    }

/* charts styles end */

/*Typing Loader*/

.typing_loader {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -webkit-animation: typing 1s linear infinite alternate;
    -moz-animation: Typing 1s linear infinite alternate;
    animation: typing 1s linear infinite alternate;
    margin: 100px auto 5px auto; /* Not necessary- its only for layouting*/
    position: relative;
    left: -12px;
}
/*Typing Loader ends*/





/* main menu styles starts here*/

.dropbtn {
    background-color: transparent;
    color: #059cce;
    padding: 5px 10px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

    .dropbtn:hover, .dropbtn:focus {
        background-color: transparent;
        color: #b98b03;
    }

#myInput {
    background-image: url(searchicon.png);
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 7px 10px 7px 20px;
    border: none;
    outline: 3px solid #ddd;
    display: block;
    width: 100%;
    color: #808080;
}

    #myInput:focus {
        outline: 3px solid rgba(5, 156, 206, 0.22)
    }

.dropdown.search {
    position: relative;
    display: inline-block;
    top: 24px;
    /*right: -25px;*/
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #efefef;
    min-width: 250px;
    overflow: auto;
    border: 3px solid #a9a9a9;
    z-index: 1;
    right: 0px;
    top: 40px;
    border-radius: 4px;
}

    .dropdown-content a {
        color: #585858;
        padding: 8px 20px;
        text-decoration: none;
        display: block;
        font-weight: 600;
        font-size: 12px;
    }

.navbar.yamm .dropdown.search ul li a:hover {
    background-color: #059cce;
    color: #fff !important;
}

.show {
    display: block;
}

.navbar.yamm a:hover {
    color: #2b8be9 !important;
}

/* main menu styles end here*/






/* miscellaneous classes--- miscellaneous classes*/


.modal-header {
    border-bottom: none;
}

.btn-glyphicon {
    padding: 8px;
    background: #ffffff;
    margin-right: 4px;
}

.icon-btn {
    padding: 5px 15px 3px 2px;
    border-radius: 0px;
}

.icon-btn2 {
    padding: 1px 23px 3px 2px;
    border-radius: 50px;
}

.btn-glyphicon2 {
    padding: 8px;
    background: #ffffff;
    margin-right: 10px;
}

table td:first-child {
    vertical-align: top !important;
}

table .tbodySelectedFunds td:first-child {
    vertical-align: middle !important;
}

.my-hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.print {
    position: absolute;
    top: 40px;
    right: 15px;
}


/* miscellaneous classes--- miscellaneous classes*/

.sample.fourteen {
    position: relative;
    display: inline-block;
    z-index: 9999;
    top: 90px;
    right: 10px;
}


.sample input {
    border: 1px solid #ccc;
    font-size: 12px;
    height: 30px;
    padding: 4px 8px;
    position: absolute;
    width: 50%;
}

    .sample input:focus {
        outline: none;
    }

.sample button {
    text-align: center;
}

    .sample button:focus {
        outline: none;
    }

.sample.thirteen input, .sample.fourteen input {
    background: none;
    border-color: #000;
    border-radius: 15px;
    border-width: 0 0 1px;
    transition: all .8s ease-in-out;
    width: 30px;
}

    .sample.thirteen input:focus, .sample.fourteen input:focus {
        background: radial-gradient(ellipse at top left, rgba(0, 0, 0, 0) 65%, #ff69b4 140%);
        border-radius: 0 15px 15px 0;
        width: 250px;
    }

        .sample.thirteen input:focus ~ button.btn-search, .sample.fourteen input:focus ~ button.btn-search {
            background: hotpink;
            color: #fff;
            left: 222px;
            transform: rotate(720deg);
        }

        .sample.thirteen input:focus ~ button.btn-reset, .sample.fourteen input:focus ~ button.btn-reset {
            left: 256px;
            transform: rotate(360deg);
        }

.sample.thirteen button, .sample.fourteen button {
    transition: all .8s ease-in-out;
}

    .sample.thirteen button.btn-search, .sample.fourteen button.btn-search {
        background: #ccc;
        border: 1px solid #000;
        border-radius: 50%;
        height: 30px;
        left: 0;
        width: 30px;
    }

    .sample.thirteen button.btn-reset, .sample.fourteen button.btn-reset {
        background: #fff;
        border: 1px solid #ccc;
        border-radius: 50%;
        font-size: 10px;
        height: 20px;
        left: 2px;
        line-height: 20px;
        padding: 0;
        top: 10px;
        width: 20px;
        z-index: -1;
    }

@keyframes bounceRight {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes jumpTowardSearch {
    0% {
        background: #ccc;
        opacity: 1;
        transform: rotateZ(0deg) scale(1);
    }

    20% {
        background: #ccc;
        opacity: 0;
        transform: rotateZ(-60deg) scale(50);
    }

    55% {
        background: hotpink;
        opacity: 0;
        transform: rotateZ(-30deg) scale(100);
    }

    90% {
        background: hotpink;
        opacity: 0;
        transform: rotateZ(-30deg) scale(50);
    }

    100% {
        background: hotpink;
        opacity: 1;
        transform: rotateZ(0deg) scale(1);
    }
}

@keyframes jumpTowardReset {
    0% {
        opacity: 0;
        transform: rotateZ(0deg) scale(1);
    }

    20% {
        opacity: 0;
        transform: rotateZ(-60deg) scale(50);
    }

    55% {
        opacity: 0;
        transform: rotateZ(-30deg) scale(100);
    }

    90% {
        opacity: 0;
        transform: rotateZ(-30deg) scale(50);
    }

    100% {
        opacity: 1;
        transform: rotateZ(0deg) scale(1);
    }
}

.modal-dialog {
    margin: 10px auto;
    height: calc(100vh - 114px);
}

    .modal-dialog.modal-sm {
        margin: 10px auto;
        width: 300px;
    }
    .modal-dialog.modal-lg {
        margin: 10px auto;
        width: 80%;
    }







/* news content styles */


.news-head {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 15px;
}

.news-content {
    display: block;
    border-radius: 2px;
    margin-bottom: 20px;
    background: #fff;
}



.btn-readmore {
    padding: 4px 30px 4px 30px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    background-color: rgba(5, 156, 206, 1);
    border-color: rgba(5, 156, 206, 1);
    border-radius: 2px;
}

.news-right {
    padding: 0px 15px 10px 0px;
}

    .news-right h4 {
        margin-top: 0px;
        margin-bottom: 0px;
        color: #191919;
        font-size: 22px;
    }

.mynews hr {
    margin-top: 0px;
    margin-bottom: 20px;
    border-top-color: #a2a2a2;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp2 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.news-right p {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 26px;
    margin-top: 6px;
}

.news-right span {
    font-size: 15px;
    color: darkgoldenrod;
}

.mynews {
    background: #efefef;
    padding: 40px 40px 0px 40px;
}

.announcement-content {
    display: block;
    position: relative;
    padding: 5px 20px 20px 20px;
    box-shadow: 0px 0px 10px #d6d6d6;
}

    .announcement-content h3 {
        color: #059cce;
        font-size: 22px;
        margin-bottom: 0px;
    }

    .announcement-content h5 {
        font-size: 15px;
        margin-bottom: 0px;
    }

    .announcement-content span {
        color: #b08f1d;
        font-size: 16px;
    }

    .announcement-content hr {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .announcement-content p {
        text-align: justify;
    }


/* End news content styles */
/* Start modal content styles */
/*.modal-content .table > thead > tr > th {
    background-color: #034558;
}*/

.modal-dialog {
    width: 55%;
}

.modal-body .btn-info {
    background: #059cce;
    border: 1px solid #059cce;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
}

.modal-content .table > tbody > tr > td {
    border-top: 1px solid rgba(249, 249, 249, 0.46);
}

.modal-body {
    position: relative;
    padding: 15px 15px 15px 15px;
}

.modal-content .close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: unset;
    color: #000000;
    text-shadow: unset;
    opacity: 1;
    filter: alpha(opacity=100);
}

.modal-dialog.two.sett {
    margin: 10px auto;
    width: 75%;
}
/* modal styles end */

/* portfolio */

#transactionTable_paginate .pagination .active > a {
    color: #ffffff;
    background-color: #b0bec5;
    border: 1px solid #b0bec5;
}

/* transaction */

.btn + .btn {
    margin-left: 20px;
}

/*#consolidatedFundSummaryByAccount .row .col-md-8 {
    width: 70%;
}

#consolidatedFundSummaryByAccount .row .col-md-4 {
    width: 30%;
}*/

/*.portfolio-section .row .col-md-12 .row .col-md-4 {
    width: 30%;
}

.portfolio-section .row .col-md-12 .row .col-md-8 {
    width: 70%;
}*/
/* contact styles start*/
.contact {
    padding: 20px 20px 10px 20px;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(197,197,197,0.54);
    margin-bottom: 20px;
    height: 240px;
}

.contact22 {
    padding: 20px 20px 10px 20px;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(197,197,197,0.54);
    margin-bottom: 20px;
}

.contact-content {
    text-align: center;
}

    .contact-content .img-responsive {
        display: inline-block;
        max-width: 30%;
        height: auto;
        text-align: center;
        margin-bottom: 5px;
    }

.googlemapcontainer {
    border: 2px solid #dedede;
}

.contact-form {
    background: #004f69;
    padding: 15px;
    text-align: center;
}

.contact-content i {
    color: #059cce;
    margin-right: 4px;
}

.contact-form hr {
    margin-top: 0px;
    margin-bottom: 20px;
}

.contact-form h4 {
    margin-top: 0px;
    margin-bottom: 10px;
    color: #e8e8e8;
}

.contact-form .form-control {
    background: rgb(0, 60, 80);
    border-color: #003d52;
    margin-bottom: 10px;
}

.contact-form .btn {
    background: #a27104;
    border-radius: 2px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}

.contact-form textarea.form-control {
    height: 100px;
}

.contact-form ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #7b7b7b;
}

.contact-form ::-moz-placeholder { /* Firefox 19+ */
    color: #7b7b7b;
}

.contact-form :-ms-input-placeholder { /* IE 10+ */
    color: #7b7b7b;
}

.contact-form :-moz-placeholder { /* Firefox 18- */
    color: #7b7b7b;
}

.contact22 .panel-title {
    font-size: 16px;
    font-weight: 500;
}

.contact22 h4 a::after {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f0d8";
    right: 30px;
    position: absolute;
}
.contact22 h4 a.collapsed::after {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f0d7";
    right: 30px;
    position: absolute;
}

.contact .table > thead > tr > th,
.contact .table > tbody > tr > th,
.contact .table > tfoot > tr > th,
.contact .table > thead > tr > td,
.contact .table > tbody > tr > td,
.contact .table > tfoot > tr > td {
    border-top: none;
}

.contact22 .panel-default > .panel-heading {
    background: #f3f3f3;
}

.contact22 h4 a:focus, .contact h4 a:hover {
    color: #000;
}

.contact22 h4 a {
    color: #434343;
    display: block;
    padding-right: 10px;
}

.section.image {
    background: rgba(255,255,255,0.5) url(/Content/Banner/15.jpg) no-repeat;
    background-position: 0 85%;
    background-size: cover;
    min-height: 100vh;
}



.settings-wrapper {
    background: #fff;
    padding: 90px 30px 80px 30px;
    position: relative;
}

    .settings-wrapper .help-content {
        padding: 10px 20px 5px 20px
    }

    .settings-wrapper .help-heading {
        background-color: #059cce;
        color: #fff;
        padding: 5px 9px 5px 10px;
        border-radius: 0px;
        margin-bottom: 5px;
    }

        .settings-wrapper .help-heading h6 {
            font-size: 15px;
            font-weight: 500;
            margin-top: 1px;
            margin-bottom: 2px;
        }

    .settings-wrapper .text-danger label {
        color: #ec100b !important;
    }
    .settings-wrapper label {
        color: #4c4c4c;
    }

.verifymobile-new {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
}

.btn-req {
    background: #024c65;
}

.searchable-container {
    margin: 0 0 0 0;
}

    .searchable-container h5 {
        font-size: 17px;
        font-weight: 600;
    }


    .searchable-container label.btn-default.active {
        background-color: #059cce;
        color: #FFF
    }

    .searchable-container label.btn-default {
        width: 90%;
        border: 1px solid #d2d2d2;
        margin: 5px;
        box-shadow: 2px 3px 8px 0 #dcdcdc;
    }

    .searchable-container label .bizcontent {
        width: 100%;
    }

    .searchable-container .btn-group {
        width: 90%
    }

    .searchable-container .btn span.glyphicon {
        opacity: 0;
    }

    .searchable-container .btn.active span.glyphicon {
        opacity: 1;
    }

#liLogout .dropdown-menu > li a, #liLogout .dropdown-menu > li span {
    padding: 7px 8px;
    margin: 10px 10px;
    line-height: 1;
    display: block;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.breadcrumb {
    margin-right: 10px;
}

.profile-section .breadcrumb {
    margin-right: 10px;
}

.settings-wrapper .breadcrumb {
    margin-right: 10px;
}

.sidebar-boxed.account .sidenav > li > a {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 500;
    border-radius: 2px;
    background: #3f3f3f;
    font-family: 'Montserrat', sans-serif;
    color: #d1d1d1;
    line-height: 30px !important;
}

.logout i {
    font-size: 35px;
    color: #059cce;
}

.logout {
    padding: 10px;
    text-align: center;
    background: none !important;
    margin-bottom: 10px !important;
}

    .logout a {
        background: none !important;
        padding: 0 !important;
        margin: 0 !important;
    }

    .logout small {
        font-size: 11px;
        position: relative;
        top: -10px;
    }



.account-primary {
    border-bottom: 1px solid #464646;
}

.settings-part {
    padding: 15px;
    margin-bottom: 20px;
    background: #f4fcff;
    border: 1px solid #cef3ff;
    border-radius: 2px;
    height: 120px;
}

    .settings-part i {
        font-size: 60px;
        color: #d4f5ff;
    }

    .settings-part h4 {
        font-size: 17px;
        font-weight: 600;
        margin-bottom: 4px;
    }

    .settings-part p {
        margin-top: 0px;
    }

    .settings-part span {
        color: #059cce;
    }

.settings-bind {
    background: #059cce;
    color: #fff;
    border-radius: 2px;
    border: 1px solid #059cce;
    padding: 1px 5px 2px 5px;
    font-size: 12px;
    position: absolute;
    top: -10px;
    right: 6px;
}

    .settings-bind:hover, .settings-bind:active, .settings-bind:focus {
        color: #fff;
    }
.form-box .text-bold label {
    font-weight: 600;
}

tbody#accountDetailsTbody th {
    color: #a29d9d;
}

tbody#accountDetailsTbody td {
    background: #fff;
    font-weight: bold;
    color: #282828;
}
#portfolioAccountsMenu .btn:hover {
    color: #333;
}
 #portfolioAccountsMenu .btn:focus, #portfolioAccountsMenu .btn.focus {
    color: #fff;
}

.bank-attachment-modal {
    position: fixed;
    width: 500px;
    background: #fff;
    top: 50px;
    left: calc(50% - 250px);
    z-index: 9999;
    /*margin: 70px auto;
    width: 30%;
    padding: 20px;*/
    background: #fff;
    border-radius: 5px;
    
    transition: all 5s ease-in-out;
}

.bank-sttachment-modal-title {
    font-size:20px;

}

.bank-modal-close {
    position: absolute;
    right:10px;
}
.text-grey {
    color: #c0c0c0;
}