﻿.wcf2w_button i {
    font-size: 40px !important;
    margin-top: 10px;
}

.wcf2w_button:link {
    text-decoration: none !important;
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

.ak86_tada {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-timing-function: ease;
}

.wcf2w_button {
    border-radius: 50px !important;
    text-align: center !important;
    padding: 0px !important;
    outline: none !important;
    text-decoration: none !important;
    border: none !important;
    box-shadow: none !important;
    position: fixed;
    width: 60px;
    height: 60px;
    margin: 0px !important;
    line-height: normal !important;
    opacity: 0.9;
    z-index: 99999999 !important;
}

#myCarousel .nav a small {
    display: block;
}

#myCarousel .nav-justified {
    width: unset !important;
}

.manual-label {
    display: block;
    margin-top: 10px;
    color: #059cce;
    font-size: 15px;
}


#myCarousel .nav {
    margin-bottom: 0px !important;
    list-style: none;
    position: absolute;
    right: 0px !important;
    z-index: 1 !important;
    font-size: 12px !important;
    margin-right: 4px;
    bottom: 65px;
}

    #myCarousel .nav > li > a {
        padding: 10px 5px 10px 5px !important;
    }

.nav-justified > li > a {
    border-radius: 0px;
}

.nav-pills > li[data-slide-to="0"].active {
    background-color: rgba(255,255,255,0.7) !important;
}

.nav-pills > li[data-slide-to="1"].active {
    background-color: rgba(255,255,255,0.7) !important;
}

.nav-pills > li[data-slide-to="2"].active {
    background-color: rgba(255,255,255,0.7) !important;
}

.nav-pills > li.active {
    background-color: rgba(255,255,255,0.7) !important;
}

    .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
        background-color: rgba(255,255,255,0.7) !important;
        height: 100%;
    }

.slider .container-fluid {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.slider .carousel li {
    margin-right: 5px;
    border: 1px solid rgba(5, 156, 206, 0.1);
    border-left: 3px solid #059cce !important;
    position: relative !important;
    width: 210px !important;
    height: 70px;
    background-color: rgba(0,0,0,0.8);
}

.slider .carousel-inner > .item > img {
    height: auto;
    width: 100% !important;
    position: relative;
    top: 60px;
}

#myCarousel .tab-cont {
    color: #fff !important;
    text-transform: none;
    display: inline-block;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    line-height: 15px;
}

#myCarousel .tab-head {
    display: inline-block;
    margin-bottom: 5px !important;
    color: #059cce !important;
}

#myCarousel .nav > li.active .tab-cont {
    color: #000 !important;
}







@media (max-width: 767px) {
    #myCarousel .nav {
        display: none;
    }

    .slider .carousel-inner > .item > img {
        height: 100vh !important;
        width: unset !important;
        max-width: unset !important;
    }
}






/* SAT form styles here*/
.sat {
    padding: 100px 10px 60px 10px;
    position: relative;
}

    .sat .table-bordered {
        border: 1px solid #3a3a3a;
    }

        .sat .table-bordered > tbody > tr > td,
        .sat .table-bordered > tfoot > tr > td,
        .sat .table-bordered > thead > tr > th {
            border-right: 1px solid #3a3a3a !important;
            border-bottom: 1px solid #000 !important;
        }

    .sat .table > thead > tr > th {
        background-color: #eee;
        color: #000;
    }

.sat1 {
    border: 1px solid #000;
    position: relative;
    padding: 5px 10px 5px 10px;
    margin-bottom: 20px;
}

    .sat1 p {
        text-align: justify;
    }

.bottomborder {
    border: none;
    border-bottom: 1px solid #000;
}

.noborder {
    border: 1px solid #ddd;
    width: 100%;
}

.sat-h {
    text-align: right;
    font-size: 20px;
    margin-bottom: 25px;
}




/*Cart  Styles here...*/
.cart {
    background: #282828;
    padding: 10px;
    border-radius: 2px;
    text-align: right;
}

    .cart .head {
        background: transparent;
        padding: 1px 10px 7px 10px;
        color: #fff;
    }

    .cart .btn.btn-primary {
        border-radius: 2px;
        padding: 4px 5px;
        font-size: 13px;
        background: #059cce;
        border: none;
    }

.table-cart .btn.btn-default {
    border-color: #656565;
    color: #06abe2;
    border-radius: 2px;
    padding: 0px 4px;
    font-size: 13px;
    background: #000;
}

.table-cart {
    color: #636363;
}


    .table-cart > tfoot > tr > th, .table-cart > tfoot > tr > td, .table-cart > tbody > tr > td {
        border-top: none;
    }

.table.table-cart > thead > tr > th {
    background-color: #404040;
    padding: 6px 8px 6px 8px !important;
}

.table.table-cart > tfoot > tr > th {
    background-color: #f1f1f1;
}

.table-striped.table-cart > tbody > tr:nth-of-type(odd) {
    background-color: #000000;
}

.table-striped.table-cart > tbody > tr:nth-of-type(even) {
    background-color: #000000;
}

.fundListTable li.trans {
    list-style: none;
    display: inline-block;
}

.trans .dropdown-menu {
    background: #d4d4d4;
}

    .trans .dropdown-menu > li a {
        color: #666;
        padding: 7px 6px;
        margin: 3px 10px;
    }

        .trans .dropdown-menu > li a:hover,
        .trans .dropdown-menu > li a:focus,
        .trans .dropdown-menu > li a:active {
            background: #f1f1f1;
            color: #4c4c4c;
        }




/* Lost Google Authenticator Styles here*/
.reqkey {
    background: #059cce;
    color: #fff;
    border-radius: 2px;
    padding: 4px 12px;
    font-weight: 600;
}

.lostgoogle label {
    font-weight: 600;
    color: #059cce;
    margin-right: 4px;
}

.lostgoogle p {
    margin-bottom: 10px;
}

.add-icon {
    height: 26px;
    width: 26px;
    border-radius: 13px;
    background: red;
    color: #fff;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 21px;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: 600;
}

    .add-icon:hover {
        color: #fff;
    }

.reset-confirm {
    background: rgba(255,255,255,0.5);
    box-shadow: 2px 2px 15px #d4d4d4;
    padding: 20px;
    position: relative;
    top: 60px;
    text-align: center;
}

.icon-i {
    font-size: 17px;
    font-weight: 600;
    color: #059cce;
}

.req-label {
    font-size: 20px;
}

    .req-label label {
        font-size: 20px;
        font-weight: 600;
        color: #059cce;
        margin-right: 10px;
    }

.reset-confirm h2 {
    font-size: 27px;
}

.btn-reset {
    padding: 4px 30px 4px 30px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    background-color: rgba(5, 156, 206, 1);
    border-color: rgba(5, 156, 206, 1);
    border-radius: 2px;
}

.operating-hrs {
    background: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid #cecece;
}

.settings-wrapper .help-section {
    border-radius: 0px;
    padding: 0 0 8px 0;
}

.settings-wrapper .help-heading {
    border-radius: 0px;
}

.cooling {
    background: #eee;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

.sett-modalhead {
    background: #059cce;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    text-align: center;
    padding: 15px;
}

    .sett-modalhead h4 {
        color: #fff;
        font-size: 22px;
        margin-top: 0px;
        margin-bottom: 0px;
    }


.btn-sett-cancel {
    background: #747474;
    color: #fff;
    border-radius: 2px;
    padding: 4px 18px;
    font-weight: 600;
}

.btn-sett-confirm {
    background: #059cce;
    color: #fff;
    border-radius: 2px;
    padding: 4px 18px;
    font-weight: 600;
}

.login-message {
    position: absolute;
    top: -9px;
    left: 20%;
    margin: 0 auto;
    width: 60%;
    z-index: 1;
    background: #f6f6f6;
    padding: 2px 12px 2px 12px;
    color: #999;
    border-radius: 3px;
    border: 1px solid #f6f6f6;
}

    .login-message p {
        color: #000;
        margin-bottom: 0px;
        margin-top: 0;
        font-size: 11px;
        text-align: center;
    }

.due-date {
    background: #fff;
    border: 1px solid #059cce;
    padding: 3px 5px 3px 5px;
    text-align: center;
    display: table-cell;
    font-size: 12px;
    border-radius: 3px;
}

.table-timings.table tbody > tr > td {
    border: 1px solid #ddd !important;
}

.table-timings.table > thead > tr > th {
    padding: 5px 8px 6px 8px !important;
    background: #747474;
    border-right: 1px solid #ddd !important;
}
/* The customcheck */
.customcheck {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    /* Hide the browser's default checkbox */
    .customcheck input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 6px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #d9d9d9;
    border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.customcheck:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.customcheck input:checked ~ .checkmark {
    background-color: #059cce;
    border-radius: 5px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.customcheck input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.customcheck .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.statement {
    background: #f3f3f3;
    padding: 15px 10px 20px 10px;
    border-radius: 4px;
    margin-bottom: 20px;
    border: 2px solid #eee;
}

.logoutmessage {
    padding: 20px;
    background: rgba(5, 156, 206, 0.10196078431372549);
    border-radius: 4px;
    margin-top: 50px;
}

.table-account-selected.table > thead > tr > th {
    padding: 3px 8px 6px 8px !important;
    background: #f9f9f9;
    color: #059cce;
    font-family: 'Montserrat', sans-serif;
}

.table-account-selected.table > tbody > tr > td {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.table-head2 {
    background-color: #e8e8e8;
    color: #383838;
    padding: 6px 10px 6px 10px;
}

.selectedAccountDetails strong {
    color: #059cce;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.selectedAccountDetails span {
    font-family: 'Montserrat', sans-serif;
}

.selectedAccountDetails {
    background: #f9f9f9;
    padding: 4px 2px 5px 12px;
    margin-bottom: 10px;
}

.footer-list {
    padding-left: 0px;
    margin-top: 0px;
}

    .footer-list li {
        display: inline-block;
        list-style: none;
    }

        .footer-list li a {
            margin-right: 10px;
            font-size: 12px;
            font-weight: 600;
            font-family: 'Montserrat', sans-serif;
        }

            .footer-list li a:hover {
                color: #2987a6;
            }

.avatar-upload {
    position: relative;
    max-width: 205px;
    margin: 0px auto;
}

    .avatar-upload .avatar-edit {
        position: absolute;
        right: 10px;
        z-index: 1;
        top: 25px;
    }

        .avatar-upload .avatar-edit input {
            display: none;
        }

            .avatar-upload .avatar-edit input + label {
                display: inline-block;
                width: 34px;
                height: 34px;
                margin-bottom: 0;
                border-radius: 100%;
                line-height: 15px;
                background: #efefef;
                border: 1px solid transparent;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                cursor: pointer;
                font-weight: normal;
                transition: all 0.2s ease-in-out;
            }

                .avatar-upload .avatar-edit input + label:hover {
                    background: #f1f1f1;
                    border-color: #d6d6d6;
                }

                .avatar-upload .avatar-edit input + label:after {
                    content: "\f040";
                    font-family: 'FontAwesome';
                    color: #757575;
                    position: absolute;
                    top: 10px;
                    left: 0;
                    right: 0;
                    text-align: center;
                    margin: auto;
                }

    .avatar-upload .avatar-preview {
        width: 192px;
        height: 192px;
        position: relative;
        border-radius: 100%;
        border: 6px solid #F8F8F8;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    }

    .avatar-upload .avatar-preview2 {
        width: 192px;
        height: 192px;
        position: relative;
        border-radius: 0;
        border: 6px solid #F8F8F8;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    }

        .avatar-upload .avatar-preview2 > div {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

.namecard {
    padding: 20px;
}

    .namecard h5 span {
        color: #999;
        margin-left: 8px;
    }

input[type="file"] {
    display: block;
    border: 1px solid #ddd;
    padding: 5px 8px;
}

.alert-remove {
    font-size: 14px !important;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    margin-right: 40px;
    margin-top: 1px;
    float: right;
}
.alert-percent-span{
    font-weight: 600;
    color: #aaa;
}

.dropdown-notific {
    padding: 10px;
    background: #fff;
    border: 1px solid #ddd;
    min-width: 140px;
    overflow: hidden;
    border-radius: 2px;
    position: absolute;
    z-index: 1;
    right: 0px;
    top: 40px;
    display: none;
}
.dropdown-notific ul{
    padding-left: 0;
}
    .dropdown-notific li {
        font-size: 12px;
        font-family: 'Montserrat', sans-serif;
        color: #424242;
        font-weight: 500;
    }


.dropbtn:hover + #notificationDropdown {
    display: block;
}